vendor/
node_modules
storage/database/*
storage/debugbar/*
storage/framework/*
storage/logs/*
public/log/*


/storage/database/*
/storage/database/*
/storage/debugbar/*
/storage/framework/*
/storage/logs/*
/public/log/*

/public/storage/app/certificate/*
/public/storage/attachment/*

.log
.sqlite

.env
